name: testes

on:
  pull_request:

jobs:
  tox:
    strategy:
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: instalar dependências
        run: python -m pip install --upgrade tox virtualenv setuptools pip
      - name: instalar dependências de desenvolvimento
        run: pip install -r requirements.txt
      - name: rodar tox
        run: tox -e py
